* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0px;
  padding: 0px;
  background-color: #0B2434;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  font-family: Karla;
  padding: 60px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 10px;
  height: 80%;
  width: 80%;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main>h1 {
  font-weight: bolder;
}

main>p {
  color: #4A4E74;
  font-weight: 500;
  font-size: 16px;
}

.die-section {
  display: grid;
  grid-template: auto auto/ repeat(5, 1fr);
  gap: 20px;
}

.die-section button {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  background-color: #F5F5F5;
  cursor: pointer;
  font-weight: bold;
  font-family: Karla;
  font-size: 1.95rem;
}

.roll-dice {
  background-color: #5035FF;
  padding: 10px;
  width: auto;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  font-family: Karla;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: white;
}

.sr-only {
  position: absolute;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.roll-dice:hover,
.roll-dice:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(80, 53, 255, 0.7);
  /* glowing purple */
  transform: scale(1.03);
  /* slight pop on interaction */
}